@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
$header-height: 60px;
$primary-color: #014c8f;
$menu-footer-height: 48px;

::-webkit-scrollbar {
  width: 0;
}
// ::-webkit-scrollbar:horizontal {
//   height: 0;
// }
// ::-webkit-scrollbar-thumb {
//   background-color: $primary-color;
// }

#container {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  min-height: 1600px;
}
#header {
  background-color: #fff;
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  .header-wrap {
    width: 100%;
    max-width: 1340px;
    height: $header-height;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 150ms linear;
    .menu-toggle {
      display: flex;
      align-items: center;
      padding: 8px;
      cursor: pointer;
      > * {
        pointer-events: none;
      }
      &:hover {
        color: $primary-color;
      }
      span {
        font-size: 20px;
        margin-right: 4px;
      }
      p {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
      }
    }
    .actions {
      display: flex;
      div {
        margin-right: 16px;
        font-size: 28px;
        color: #333;
        cursor: pointer;
        transition: all 150ms linear;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  .scroll-progress {
    width: 0;
    height: 4px;
    background-color: #014c8f;
    transition: width 50ms ease-in;
  }
}
#header.is-fixed {
  position: fixed;
  top: 0;
  animation: fade 250ms forwards 1;
}
.menu-container {
  position: fixed;
  inset: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 50ms linear;
  .screen-blur {
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;
  }
  .menu {
    width: 320px;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 350ms ease-in;
    &-header {
      height: $header-height;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .close-icon {
        font-size: 24px;
        &:hover {
          color: $primary-color;
          animation: spin 2s linear infinite forwards;
        }
      }
    }
    &-content {
      height: calc(100vh - #{$header-height} - #{$menu-footer-height});
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .guide {
        background-color: #f5f5f5;
        ul {
          list-style: none;
          padding: 8px 16px;
          li {
            display: flex;
            align-items: center;
            cursor: pointer;
            a {
              display: block;
              font-size: 15px;
              line-height: 22px;
              font-weight: 400;
              padding: 4px 24px 4px 16px;
              color: #000;
              text-decoration: none;
              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
      .menu-list {
        flex: 1;
        min-height: 48px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 2px;
          background-color: $primary-color;
        }
        ul {
          padding: 8px 16px;
          list-style: none;
          a {
            display: block;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            text-decoration: none;
            color: #000;
            padding: 6px 24px 6px 0;
            &:hover {
              color: $primary-color;
            }
          }
        }
      }
      .brands {
        width: 100%;
        overflow-x: hidden;
        ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          padding: 4px 0;
          li {
            width: 50%;
            overflow: hidden;
            border: 0.2px solid #eee;
            &:hover {
              box-shadow: 2px 2px 8px #999;
            }
            a {
              padding: 15px 7px;
              display: block;
              img {
                width: 90%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
    .social-media {
      height: $menu-footer-height;
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      a {
        text-decoration: none;
      }
    }
  }
  .menu.active {
    transform: translateX(0);
  }
}
.menu-container.active {
  visibility: visible;
  opacity: 1;
}
#slider {
  height: 600px;
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  z-index: -1;
  .slider-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      transition: all 300ms ease-in;
    }
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
